.container-input__label{
    font-weight: 500;
    font-size: 12px;
	margin-bottom: 6px;
	display: block;
}

.container-input__input{
	width: 100%;
    background: var(--white);
    border-radius: 5px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
    border: none;
	padding-inline: 14px;
	padding-block: 10px;
}

.container-input__input:focus {
	outline: 1px solid var(--secondary-color);
}

