.outer-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: calc(100vh - 140px);
	background-color: #f8f8f8;
}

.form-register h1 {
	font-size: 24px;
	text-align: center;
	margin: 0;
}

.form-register {
	max-width: 448px;
	width: 100%;
	display: flex;
	flex-direction: column;
	margin-inline: 1rem;
}

.form-register .container-input {
	margin-top: 1rem;
}

.container-button {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 51px;
}

.subtitle {
	padding-top: 6px;
}

@media only screen and (min-width: 600px) {
	.double-input {
		display: flex;
		gap: 1rem;
	}
}
