.btn {
	width: 206px;
	height: 40px;
	border-radius: 5px;
	border: 1px solid var(--primary-color);
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 500;
	transition: transform 200ms ease-in-out,
	filter 200ms ease-in-out,
	background 200ms ease-in-out,
	color 200ms ease-in-out;
}

.btn:active {
	transform: scale(.9);
}

.btn-light {
	background: var(--white);
	color: var(--primary-color);
}

.btn-light:hover {
	color: var(--white);
	background: var(--primary-color);
}

.btn-dark {
	background-color: var(--primary-color);
	color: var(--white);
}

.btn-dark:hover {
	filter: brightness(1.5);
}
