.mobile-menu {
	display: none;
	visibility: hidden;
}

.mobile-menu__icon {
	cursor: pointer;
	width: 30px;
	height: 30px;
}

.mobile-menu__container {
	display: none;
	height: 100vh;
	max-width: 50vw;
	width: 70%;
	background: var(--white);
	position: absolute;
	top: 0;
	right: -100%;
	box-shadow: 0 0 10px 5px rgba(0, 0, 0, .2);
	transition: right 500ms ease-in-out;
}

.mobile-menu__container.open {
	display: block;
	right: 0;
}

.mobile-menu__header {
	background: var(--primary-color);
	height: 200px;
	padding: 1rem;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	color: var(--white);
	font-size: 25px;
	font-weight: 600;
	text-align: right;
}

.mobile-menu__body {
	padding-inline: 1rem;
}

.mobile-menu__body div {
	padding-block: 1rem;
	text-align: right;
}

.mobile-menu__body div a {
	color: var(--black);
}

.mobile-menu__footer {
	position: absolute;
	display: flex;
	gap: 1rem;
	bottom: 0;
	right: 0;
	padding: 1rem;
}

.mobile-menu__footer svg {
	font-size: 22px;
	color: var(--secondary-color);
	cursor: pointer;
}

@media only screen and (max-width: 440px) {
	.mobile-menu__container {
		max-width: 70vw;
	}
}

.mobile-menu__body-logout {
	cursor: pointer;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 850px) {
	.mobile-menu__body-logout {
		font-size: 12px;
		position: relative;
		padding-block: .5rem;
		border-bottom: 1px solid var(--secondary-accent-color);
		bottom: calc(50px - 65vh);
	}

	.mobile-menu__body div span {
		color: var(--primary-color);
		cursor: pointer;
	}

	.mobile-menu {
		display: flex;
		visibility: visible;
	}

	.web-menu {
		display: none;
		visibility: hidden;
	}
}




