.container-features-product-description {
    padding: 0 20px;
    margin-top: 20px;
}
.container-features-product h3 {
    padding-left: 20px;
}
.container-features-product .container-features-product-description h3,
.container-features-product .container-features-product-description p {
    padding-bottom: 20px;
    padding-left: 0;
}

.container-features-product .container-features-product-features {
    margin-top: 20px;
    padding: 20px;
    display: grid;
    grid-template-columns: auto;
}

.container-features-product .container-features-product-features div {
    display: flex;
}

.container-features-product .container-features-product-features div .icon{
    color: var(--primary-color);
    margin: 0 15px 30px 0;
}


@media only screen and (min-width: 650px) and (max-width: 1200px) {
    .container-features-product-description {
        padding: 0 30px;
    }
	.container-features-product .container-features-product-features {
        padding: 30px;
        grid-template-columns: auto auto;
    }
    .container-features-product h3 {
        padding-left: 30px;
    }
    .container-features-product .container-features-product-description h3,
    .container-features-product .container-features-product-description p {
        padding-bottom: 30px;
    }
}

@media only screen and (min-width: 1200px) {
    .container-features-product-description {
        padding: 0 50px;
    }
	.container-features-product .container-features-product-features {
        padding: 50px;
        grid-template-columns: auto auto auto auto;
    }
    .container-features-product h3 {
        padding-left: 50px;
    }
    .container-features-product .container-features-product-description h3,
    .container-features-product .container-features-product-description p {
        padding-bottom: 50px;
    }
}

@media only screen and (min-width: 1440px) {
	
}

  
  

