h3.title-h3{
    padding-left: 20px;
}

hr.title-hr {
    position: relative;
    top: 10px;
    border: 1px solid var(--primary-color);
}



@media only screen and (min-width: 650px) and (max-width: 1200px) {
	h3.title-h3{
        padding-left: 30px;
    }
    
}

@media only screen and (min-width: 1200px) {
	
    h3.title-h3{
        padding-left: 50px;
    }
    



}

@media only screen and (min-width: 1440px) {
	
}

  
  