.container-images-product {
  display: none;
}


@media only screen and (min-width: 650px) and (max-width: 1200px) {
	
}

@media only screen and (min-width: 1200px) {
	.container-images-product {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    padding: 50px;  
    position: relative; 
}
  
.container-images-product div:first-child {
    grid-row: 1 / 3;
    grid-column: 1 / 3;
}

.container-images-product div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    border-radius: 8px 8px 8px 8px;
}

.container-images-product .btn-light {
    position: absolute;
    right: 70px;
    bottom: 70px;
    color: white;
    background-color: transparent;
    border: 0px;
    text-decoration: underline;
}
.popup-content {
    margin: auto;
    background: #383B58;;
    opacity: 0.99;
    width: 100%;
    padding: 5px;
    height: 100%;
    position: relative;   
    z-index: -1;
   
  }
  .popup-content .button {
    color: black;
  }

  .modal {
    font-size: 12px;
  }
  .modal > .content {
    width: 90%;
    padding: 10px 5px;    
    opacity: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
  }
  
  .modal > .content > .close {
    border: none;
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 50px;
    right: 26%;
    top: 2%;
    font-size: 50px;
    background: transparent;
    color: white;
    z-index: 2;
    
  }

}

@media only screen and (min-width: 1440px) {
	
}

  
  