.container-politics-products {
    margin-top: 20px;
    padding: 20px 20px 80px;
    display: grid;
    grid-template-columns: auto;
}
.container-politics-products div {
    margin-right: 20px;
}
.container-politics-products h4{
    padding-bottom: 20px;
}

.container-politics-products ul li{
    padding-bottom: 20px;
}


@media only screen and (min-width: 650px) and (max-width: 1200px) {
	.container-politics-products {
        padding: 30px 30px 90px;
        grid-template-columns: auto auto;
    }
    .container-politics-products div {
        margin-right: 30px;
    }
    .container-politics-products h4{
        padding-bottom: 30px;
    }
}

@media only screen and (min-width: 1200px) {
	.container-politics-products {
        padding: 50px;
        grid-template-columns: auto auto auto auto;
    }
    .container-politics-products div {
        margin-right: 30px;
    }
    .container-politics-products h4{
        padding-bottom: 30px;
    }
  



}

@media only screen and (min-width: 1440px) {
	
}

  
  