.category {
	background-color: var(--white);
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	min-width: 290px;
	width: 100%;
	transition: transform 500ms ease-in-out;
}

.category:hover {
	transform: scale(1.05);
	cursor: pointer;
}

.category h4 {
	font-size: 20px;
	color: var(--secondary-color);
	margin: 0;
}

.category p {
	font-weight: 600;
	font-size: 14px;
	color: var(--secondary-color);
	opacity: 0.6;
	margin-top: 5px;
}

.category img {
	object-fit: fill;
	height: 200px;
	border-radius: 8px 8px 0 0;
}

.category .category__info {
	padding: 15px;
}

@media only screen and (min-width: 992px) {
	.category {
		max-width: 23.5%;
	}
}

@media only screen and (min-width: 650px) and (max-width: 1200px) {
	.category {
		max-width: 48%;
	}
}

@media only screen and (min-width: 1200px) {
	.category img {
		height: 163px;
	}
}

@media only screen and (min-width: 1440px) {
	.category img {
		height: 178px;
	}
}
