.product {
	background-color: var(--white);
	border: 1px solid #DFE4EA;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.product h3 {
	font-weight: 700;
	font-size: 20px;
	color: var(--secondary-color);
	margin: 0;
}

.product-text-category {
	margin: 0 0 5px;
}

.product-text-category span {
	font-weight: 600;
	font-size: 14px;
	color: var(--secondary-color);
	opacity: 0.5;
	text-transform: uppercase;
}

.product-text-category svg {
	color: var(--primary-color);
	width: 15px;
	height: 15px;
	margin-left: 1px;
}

.product-text-location {
	font-weight: 500;
	font-size: 14px;
	color: var(--secondary-color);
	margin: 1.5rem 0 0;
}

.product-text-description {
	font-weight: 500;
	font-size: 14px;
	color: var(--secondary-color);
	margin-bottom: 15px;
}

.product-text-description a, .product-text-location a {
	color: var(--primary-color);
}

.icons {
	margin-block: .5rem;
}

.product-img img {
	width: 100%;
	height: 100%;
	border-radius: 8px 8px 0 0;
}

.product-text {
	padding: 15px;
	position: relative;
}

.product-text-punctuation {
	position: absolute;
	top: 10px;
	right: 10px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.product-text-punctuation div {
	align-self: flex-end;
	font-weight: 700;
	color: var(--white);
	background: var(--secondary-color);
	border-radius: 10px;
	padding: 8px 14px;
}

.product-text-punctuation span {
	font-size: 10px;
	text-align: right;
	color: var(--secondary-color);
	margin-top: 5px
}

.product-img {
	position: relative;
}

.product-img svg {
	position: absolute;
	color: var(--white);
	top: 10px;
	right: 10px;
	width: 21px;
	height: 21px;
}

.product button {
	width: 100%;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	.product {
		flex-direction: row;
	}

	.product-img img {
		border-radius: 8px 0 0 8px;
	}
}

/*tabletas */
@media only screen and (min-width: 768px) {

}

/* escritorio */
@media only screen and (min-width: 992px) {

}

@media only screen and (min-width: 1200px) {
	.product-text, .product-img {
		width: 50%;
	}

	.product-text {
		padding: 15px;
	}
}

@media only screen and (min-width: 1440px) {

}
