.container-thumbs-slider-images-dektop {
  display: none;
}

@media only screen and (min-width: 1200px) {

  .container-thumbs-slider-images-dektop {
    display: block;
    width: 50%;
    height: 50%;
    margin: 0 auto;
  }
  .container-thumbs-slider-images-dektop .swiper {
    width: 100%;
    height: 100%;
    background: #fff;
  }
  
  .container-thumbs-slider-images-dektop .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container-thumbs-slider-images-dektop .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px 8px 8px 8px;
  }
  
  .container-thumbs-slider-images-dektop .swiper {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
  }

  .container-thumbs-slider-images-dektop .swiper .swiper-button-next,
  .container-thumbs-slider-images-dektop .swiper .swiper-button-prev {
    background-color: var(--primary-color);
    border-radius: 50%;
    width: 50px;
    height: 50px;
  }
  
  .container-thumbs-slider-images-dektop .swiper .swiper-button-next:after,
  .container-thumbs-slider-images-dektop .swiper .swiper-button-prev:after
  {
    font-size: 30px;
  }
  
  .container-thumbs-slider-images-dektop .swiper-slide {
    background-size: cover;
    background-position: center;
  }
  
  .container-thumbs-slider-images-dektop .mySwiper2 {
    height: 80%;
    width: 100%;
    padding-bottom: 50px;
    border: 1px solid #fff; 
    border-radius: 8px 8px 0px 0px;    
  }
  
  .container-thumbs-slider-images-dektop .mySwiper3 {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 10px;
    border: 1px solid #fff;
    border-radius: 0px 0px 8px 8px;
  }
  
  .container-thumbs-slider-images-dektop .mySwiper3 .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
  }
  
  .container-thumbs-slider-images-dektop .mySwiper3 .swiper-slide-thumb-active {
    opacity: 1;
  }
  
  .container-thumbs-slider-images-dektop .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px 8px 8px 8px;
  }
  .container-thumbs-slider-images-dektop .swiper-pagination-fraction {
    bottom: 1%;
    font-size: 20px;
    font-weight: 900;
  }
}