.product-header {
	padding-inline: 2rem;
	padding-block: 1rem;
}

.product-header svg {
	height: 100%;
	width: 40px;
}

.product-location {
	background-color: rgba(25, 27, 29, .1);
	padding-inline: 2rem;
	padding-block: 1rem;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.product-name {
	margin: 0;
	font-size: 24px;
}

.product-city {
	gap: .5rem;
}

.product-punctuation {
	gap: 1rem;
}

.product-punctuation svg {
	width: 20px;
	height: 20px;
}

.product-punctuation-text {
	font-weight: 700;
	color: var(--white);
	background: var(--secondary-color);
	border-radius: 10px;
	padding-inline: 1rem;
}
