.search-bar {
	background-color: var(--secondary-color);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-inline: 1rem;
	gap: 1.5rem;
	padding-block: 1.5rem;
}

.search-bar h1 {
	color: var(--white);
	text-align: center;
}

.filters {
	display: flex;
	align-items: center;
	gap: 1rem;
}

@media only screen and (max-width: 1200px) {
	.filters {
		flex-direction: column;
		width: 100%;
		max-width: 600px;
	}

	.filters .btn {
		width: 100%;
	}

	.search-bar {
		position: static;
	}
}
