.products-container {
	padding-inline: 15px;
}

.products-section {
	display: flex;
	justify-content: center;
	width: 100%;
	padding-bottom: 80px;
	background-color: var(--accent-color);
}

.products-section h2 {
	font-size: 20px;
	margin-block: 2rem;
	color: var(--white);
}

.products {
	display: grid;
	grid-template-columns: 1fr;
	gap: 2rem;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
	.products-section {
		background-color: var(--secondary-color);
	}
}

@media only screen and (min-width: 768px) {
	.products-section h2 {
		color: var(--black);
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	.products {
		grid-template-columns: 1fr 1fr;
	}

	.products-container {
		max-width: 1240px;
	}
}
