.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 80px;
	position: sticky;
	top: 0;
	background-color: var(--white);
	z-index: 10;
	padding-inline: 2rem;
}

.header__slogan {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;
}

.header__slogan p {
	font-style: italic;
	font-weight: 300;
	font-size: 20px;
	color: var(--secondary-accent-color);
}

.buttons {
	display: flex;
	gap: 1.5rem;
}

@media only screen and (max-width: 450px) {
	.header__slogan p {
		display: none;
	}
}

@media only screen and (max-width: 850px) {
	.header {
		padding-inline: 1rem;
		box-shadow: 0 0 12px 2px rgba(0, 0, 0, .5);
	}
}
