.container-slider-images-mobile {
    margin-top: 30px;
}

.container-slider-images-mobile .swiper {
    width: 100%;
    height: 100%;
}
  
.container-slider-images-mobile .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container-slider-images-mobile .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .container-slider-images-mobile .swiper-pagination {
    text-align: right;
    color:#fff;
  }

  .container-slider-images-mobile .swiper-pagination-fraction {
    left: -10px;
 }

@media only screen and (min-width: 1200px) {
  .container-slider-images-mobile {
    display: none;
  }
}