.account {
	display: flex;
	gap: 1rem;
	align-items: center;
	position: relative;
	color: var(--primary-color);
	font-weight: 600;
}

.account svg {
	cursor: pointer;
	position: absolute;
	top: 0;
	right: 0;
}

.account__text span {
	color: var(--secondary-color);
}

.account__logo {
	background-color: var(--secondary-color);
	color: var(--white);
	font-weight: 700;
	font-size: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 37px;
	height: 37px;
	border-radius: 50%;
}

@media (max-width: 850px) {
	.account {
		flex-direction: column;
		align-items: flex-end;
		gap: .5rem;
	}

	.account__text {
		font-size: 16px;
		color: var(--secondary-color);
	}

	.account span {
		color: var(--white);
	}

	.account__logo {
		background-color: var(--white);
		color: var(--secondary-color);
	}

	.account svg {
		display: none;
	}
}
