.categories-section {
	padding-inline: 15px;
}

.categories-section h2 {
	font-size: 20px;
	margin-bottom: 2rem;
}

.categories {
	display: flex;
	justify-content: space-between;
	gap: 1rem;
	flex-wrap: wrap;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

@media only screen and (min-width: 1440px) {
	.categories-section {
		max-width: 1240px;
	}
}
