/* VARIABLES */
* {
	/* MAIN COLOR PALETTE */
	--primary-color: #F0572D;
	--secondary-color: #31363F;
	--secondary-accent-color: #191B1D;
	--accent-color: #DFE4EA;

	/*	NEUTRAL COLORS*/
	--white: #fff;
	--black: #000;
	--gray: #7F7F7F;

	/*	MEASURES */
	--default-padding: 1rem;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 600;
}

ul, ol {
	list-style: none;
}

button {
	cursor: pointer;
	font-weight: 600;
	font-size: 1rem;
}

a {
	text-decoration: none;
	color: var(--primary-color);
}

.primary-border-bottom {
	border-bottom: 1px solid var(--primary-color);
}

.secondary-border-bottom {
	border-bottom: 1px solid var(--secondary-color);
}

/* --------------------------------------- */
/* TEXT UTILITIES */
/* --------------------------------------- */

/* Colors */
.text-primary {
	color: var(--primary-color);
}

.text-secondary {
	color: var(--secondary-color)
}

.text-accent {
	color: var(--accent-color);
}

.text-white {
	color: var(--white);
}

/* Weight */
.fw-bold {
	font-weight: 700;
}

.fw-semibold {
	font-weight: 600;
}

.fw-medium {
	font-weight: 500;
}

.fw-regular {
	font-weight: 400;
}


/* --------------------------------------- */
/* BG UTILITIES */
/* --------------------------------------- */

.bg-primary {
	background-color: var(--primary-color);
}

.bg-secondary {
	background-color: var(--secondary-color);
}

.bg-secondary-accent {
	background-color: var(--secondary-accent-color);
}

.bg-accent {
	background-color: var(--accent-color);
}

/* --------------------------------------- */
/* FLEX UTILITIES */
/* --------------------------------------- */

.flex {
	display: flex;
}

.flex-row {
	flex-direction: row;
}

.flex-jb {
	justify-content: space-between;
}

.flex-ac {
	align-items: center;
}

.flex-row-ac-jc {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
