.locality-search-bar {
	position: relative;
	width: 100%;
}

.locality-search-bar__text-box {
	cursor: pointer;
	background: white;
	border-radius: 5px;
	padding-inline: 9px;
	display: flex;
	align-items: center;
	gap: 10px;
	height: 40px;
	color: #7F7F7F;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
	width: 100%;
}

.locality-search-bar__text-box.selected-val {
	color: #545776;
}

.locality-search-bar__icon {
	height: 25px;
	width: 18px;
}

.locality-search-bar__dropdown {
	position: absolute;
	margin-top: 10px;
	width: 100%;
	background: var(--white);
	border: 1px solid var(--white);
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 0 0 5px 5px;
	padding: 12px;
	z-index: 5;
}

.locality-search-bar__item {
	padding-block: 12px;
	display: flex;
	gap: 22px;
	align-items: center;
	cursor: pointer;
	color: var(--secondary-color);
}

.locality-search-bar__item svg {
	height: 23px;
	width: 17px;
}

@media only screen and (min-width: 1200px) {
	.locality-search-bar {
		width: 422px;
	}
}



